body, html {
	margin:0;
	padding:0
}

body, html {
  height:100%;
}

body {
  background: url(/images/SoftNotifierLayout_vertical_background_gradient.png);
  font-family:verdana; 
  font-size: 12px;
}

div#banner {
  text-align: left;
  color: white;
  font-size: 20px;
  font-family:Georgia;
  height:45px;
  line-height:45px;
}

div#footer {
  font-family:Georgia;
  position:relative;
  background: black;
  height: 28px;
  line-height:28px;
  text-align: left;
  color: white;
  padding: 0 20px;
}

div.push {
  height:28px;
}

div#copyright {
  float:right;
  width:310px;
}

div#footer a, div#banner a {
  color:white;
  margin-right: 10px;
}

div#banner a {
   text-decoration:none;
}

div#content {
  position:relative;
  margin: 0 auto -28px auto;
  padding: 0 20px;
  height: auto%;
  min-height: 100%;
  color:#666666;
}

div.playground-container {
  width: 500px;
  margin: 0 auto;
}

div.playground-links {
  text-align:center;
}

div.playground-links a {
  color:#666666;
}

div.single-column {
  font-family:Arial;
  font-size: 12px;
  margin: 100px auto 0 auto;
  width: 274px;
}

div.signup-container {
  margin-top:20px;
  background:url(/images/SoftNotifierLayout_signup_box.png) no-repeat;
  width:250px;
  padding:20px;
  color: black;
  height:150px;
}

div.soft-notifier-title {
  font-family:Georgia;
  text-align:center;
  font-size: 50px;
  color: black;
}

div.single-column h1 {
  font-size:15px;
  font-weight:normal;
}

div.product-header {
  text-align:center;
  margin: 20px;
}

p.product-summar {
  margin-left 1em;
}

.pg_button {
  background: url(/images/pg_button.png) center;
  display:block;
  float:left;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration:none;
  color: white;
}

.bottom_buttons {
  width: 300px; 
  margin: 0 auto;
}

a.pg_button:hover {
  text-decoration:underline;  
}

.screenshot {
}

.catch_phrase {
}



