body, html {
	margin:0;
	padding:0
}

body, html {
  height:100%;
}

body {
  background: lightblue;
  font-family:verdana; 
}

div#banner {
  text-align: center;
}

div#content {
  margin: 0 auto;
  padding: 20px;
  width: 600px;
  height: auto%;
  min-height: 100%;
  background: white;
}

div.product-header {
  text-align:center;
  margin: 20px;
}

div#top-nav {
  color:white;
  background:gray;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
}

div#top-nav a:visited {
 color:white; 
}
