<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />

   <title>{{ page.title }}</title>

   <link rel="stylesheet" href="/css/master.css" type="text/css" />

   <script type="text/javascript">
     var mp_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
     document.write(unescape("%3Cscript src='" + mp_protocol + "api.mixpanel.com/site_media/js/api/mpmetrics.js' type='text/javascript'%3E%3C/script%3E"));
   </script>
   <script type="text/javascript">
     try { mpmetrics.init("0995fd15cdb55d0a749999dd98d8f967");} catch(err) {}
   </script>
  <style>
  </style>
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-396182-17']);
_gaq.push(['_setDomainName', '.owyheesoftware.com']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</head>
<body>
<div id='content'>
  <div id='banner'>
    <a href='/'>Owyhee Software</a>
  </div>
  {{ content }} 
  <div class='push'></div>
</div>
<div id='footer'>
  <a href='http://blog.owyheesoftware.com'>Blog</a> 
  <a href='/about'>About</a> 
  <a href='/contact'>Contact</a> 
  <div id=copyright>
      ©2010 Owyhee Software, LLC.  All Rights Reserved.
  </div>
</div>
</body>
</html>
